/*Keyframes*/
/*cool opening animation*/
@keyframes fade-in {
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes form-entrance {
	50% {
		width: 0;
	}
	100% {
		width: 500px;
	}
}

@keyframes dropdown-entrance {
	from {
		max-height: 0;
		padding: 0 0;
	}
	50% {
		padding: 5px 5px;
	}
	to {
		max-height: 50vh;
		padding: 5px 5px;
	}
}

@keyframes dropdown-exit {
	from {
		max-height: 50vh;
		padding: 5px 5px;
	}
	50% {
		padding: 5px 5px;
	}
	to {
		max-height: 0;
		padding: 0 0;
	}
}

/*Page scaling*/
html,
body {
	height: 100vh;
	margin: 0;
}

/*Web Elements*/
/*Hang on till its children is loaded*/
.hold *,
.hold *:before,
.hold *:after,
.hold:not(.charselContent) {
	animation-play-state: paused !important;
}

/*Default font*/
body,
#block *,
#block *:before,
#block *:after {
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: 700;
}

body {
	background-color: #121212;
	opacity: 1;
	color: #fff;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: 700;
}

#bg {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url("res/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/*Probably the only header*/
h1 {
	color: #fff;
	text-align: center;
	left: 0;
	right: 0;
	height: 1em;
	background: url("res/pesterquirksLogo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.appearify {
	opacity: 0;
	display: block;
	position: fixed;
	width: 100%;
	height: auto;
	animation: 0.75s ease-out 0.5s 1 fade-in forwards;
}

#bg-overlay,
#block,
.appearify {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#bg-overlay {
	display: block;
	position: fixed;
	background: #141413;
	opacity: 0.5;
	width: 100%;
	height: auto;
	z-index: 1;
}

/*div element hierarchy*/
#block {
	opacity: 0.9;
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.retain-middle {
	margin-left: -250px;
	margin-right: -250px;
}

/*unique form hierarchy*/
form {
	overflow: hidden;
	background: #222222;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	margin: 0 auto;
	padding: 10px 0;
	width: 0;
	height: 100%;
	z-index: 10;
	border: 2px solid #121212;
	animation: 0.75s ease-out 0.5s 1 form-entrance forwards;
}

.unwrap {
	white-space: nowrap;
}

/*character selection expander*/
.charsel {
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	background: #323232;
	max-width: 175px;
	min-width: 175px;
	padding: 10px 10px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	transition: 0.25s;
	border: 2px solid #121212;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 135px;
	height: 100%;
	white-space: nowrap;
}

.charsel:before {
	content: "";
	position: absolute;
	top: 10px;
	right: -2px;
	margin: -12px 0 -12px 0;
	width: 20px;
	height: calc(100% + 4px);
	background: #121212;
}

.charsel:after {
	content: "\25BC";
	position: absolute;
	top: 20px;
	right: -2px;
	margin: -12px 0 -12px 0;
	width: 20px;
	height: calc(100% - 8px);
}

/*character selection expanded content*/
.charselContent {
	position: absolute;
	left: -2px;
	right: -2px;
	margin-top: 10px;
	background-color: #111111;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	font-size: 16px;

	height: auto;
	max-height: 0;
	overflow: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;

	transition: opacity 0.2s;
	cursor: pointer;
	user-select: none;
	z-index: 1;
}

.charselContent::-webkit-scrollbar {
	display: none;
}

/*Character options*/
.charOption a {
	color: white;
	font-size: 14px;
	padding: 12px 12px;
	text-align: center;
	text-decoration: none;
	display: block;
}

/*hover events*/
.charsel:hover, .copy:hover {
	background: #404040;
}

.charsel .charselContent {
	animation: 0.5s ease-out 0s 1 dropdown-exit forwards;
}

.charsel:hover .charselContent {
	display: block;
	animation: 0.5s ease-out 0s 1 dropdown-entrance forwards;
}

.charOption:hover {
	background: #1a1a1a;
}

.preview {
	font-size: auto;
}

.generic-textbox {
	resize: none;
	overflow: auto;
	font-size: 16px;

	background-color: #323232;
	color: #fff;
	width: 95%;
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
}

.copy {
	background: #323232;
	transition: 0.25s;
	border: 2px solid #121212;
	border-radius: 5px 5px;
	color: #fff;
	width: 150px;
	height: 40px;
	user-select: none;
	cursor: pointer;
}
/*form hierarchy end*/
/*div hierarchy end*/
